#yad_popup {
    display: block;
    width: 30em;
    background-color: white;
    border: 0.03em solid black;
    border-radius: 1em;
    position: fixed;
    padding-left: 1em;
    padding-right: 1em;
}
